@{
    ViewData["Title"] = "About Us";
}
    <br /><br />
<div class="text-center">
    <img src="~/Images/Capture.png">
</div>
<div>
    <p style="font-weight:bold; font-family:Calibri; font-size:larger;">Developer:</p>
    <p style="font-family:Calibri;">Mr Ibraheem Bukhari</p>
    <p style="font-family:Calibri;">Mr Asad Ullah Riaz</p>
</div>
<div>
    <p style="font-weight:bold; font-family:Calibri; font-size:larger;">Contact No:</p>
    <p style="font-family:Calibri;">03345281712</p>
</div>
<div>
    <p style="font-weight:bold; font-family:Calibri; font-size:larger;">Email Address:</p>
    <p style="font-family:Calibri;">ibraheembukhari@hotmail.com</p>
    <p style="font-family:Calibri;">asadmad92@gmail.com</p>

</div>